auto_mix_prep==0.2.0
beautifulsoup4==4.14.3
bitsandbytes==0.46.0
ijson==3.5.0
numpy==2.4.3
packaging==26.0
pandas==3.0.1
peft==0.15.2
prettytable==3.17.0
pyserini==1.2.0
qwen_vl_utils==0.0.14
Requests==2.32.5
torch==2.7.0
tqdm==4.66.5
transformers==4.57.1
trl==0.18.2
unsloth==2025.6.2
unsloth_zoo==2025.6.1
vllm==0.17.0
wandb==0.25.0
youtube_dl==2021.12.17
youtube_transcript_api==0.4.3
